<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="appr">
	<select id="getOrgList" resultType="apprVo">
		SELECT * 
		FROM EMP
	</select>
	
	<select id="getLineList" resultType="com.hh.hh.appr.entity.ApprLineDto">
		SELECT * 
		FROM APPR_LINE
		WHERE EMP_NO = #{empNo}
	</select>
	
	<select id="getRecList" resultType="com.hh.hh.appr.entity.ApprovalDto">
		SELECT * 
		FROM APPROVAL AP
		JOIN EMP E
		ON AP.EMP_NO = E.EMP_NO
		WHERE (APPR_NO1 = #{loginNo}
		  OR  APPR_NO2 = #{loginNo}
		  OR  APPR_NO3 = #{loginNo}
		  OR  APPR_NO4 = #{loginNo})
		  AND STATUS = '대기'
	</select>
	
	<select id="getPerson" resultType="apprVo">
		SELECT *
		FROM EMP
		WHERE EMP_NAME = #{empName}
	</select>
	<select id="getPerson1" resultType="apprVo">
		SELECT *
		FROM EMP
		WHERE EMP_NAME = #{empName1}
	</select>
	<select id="getPerson2" resultType="apprVo">
		SELECT *
		FROM EMP
		WHERE EMP_NAME = #{empName2}
	</select>
	<select id="getPerson3" resultType="apprVo">
		SELECT *
		FROM EMP
		WHERE EMP_NAME = #{empName3}
	</select>
	<select id="getPerson4" resultType="apprVo">
		SELECT *
		FROM EMP
		WHERE EMP_NAME = #{empName4}
	</select>
	<select id="getPerson5" resultType="apprVo">
		SELECT *
		FROM EMP
		WHERE EMP_NAME = #{empName5}
	</select>
	<select id="getPerson6" resultType="apprVo">
		SELECT *
		FROM EMP
		WHERE EMP_NAME = #{empName6}
	</select>
	<select id="getPerson7" resultType="apprVo">
		SELECT *
		FROM EMP
		WHERE EMP_NAME = #{empName7}
	</select>
	
	<select id="getUser1" resultType="apprVo">
		SELECT *
		FROM EMP
		WHERE EMP_NAME = #{user1}
	</select>
	<select id="getUser2" resultType="apprVo">
		SELECT *
		FROM EMP
		WHERE EMP_NAME = #{user2}
	</select>
	<select id="getUser3" resultType="apprVo">
		SELECT *
		FROM EMP
		WHERE EMP_NAME = #{user3}
	</select>
	<select id="getUser4" resultType="apprVo">
		SELECT *
		FROM EMP
		WHERE EMP_NAME = #{user4}
	</select>
	<select id="getViewer1" resultType="apprVo">
		SELECT *
		FROM EMP
		WHERE EMP_NAME = #{viewer1}
	</select>
	<select id="getViewer2" resultType="apprVo">
		SELECT *
		FROM EMP
		WHERE EMP_NAME = #{viewer2}
	</select>
	<select id="getViewer3" resultType="apprVo">
		SELECT *
		FROM EMP
		WHERE EMP_NAME = #{viewer3}
	</select>
	<select id="getViewer4" resultType="apprVo">
		SELECT *
		FROM EMP
		WHERE EMP_NAME = #{viewer4}
	</select>
	
	<insert id="insertLine" parameterType="com.hh.hh.appr.entity.ApprLineDto">
		INSERT INTO APPR_LINE 
		(
			LINE_NO,
		    EMP_NO,
		    LINE_NAME,
		    APPR_USER1,
		    APPR_USER2,
		    APPR_USER3,
		    APPR_USER4,
		    APPR_VIEWER1,
		    APPR_VIEWER2,
		    APPR_VIEWER3,
		    APPR_VIEWER4
		)
		VALUES
		(
			LINE_NO_SEQ.NEXTVAL
		  , #{empNo}
		  ,	#{lineName}
		  , #{apprUser1}
		  , #{apprUser2}
		  , #{apprUser3}
		  , #{apprUser4}
		  , #{apprViewer1}
		  , #{apprViewer2}
		  , #{apprViewer3}
		  , #{apprViewer4}
		)
	</insert>
	
	<insert id="insertApproval">
		INSERT INTO APPROVAL 
		(
			DOC_NO,
		    EMP_NO,
			FORM_NAME,
			DOC_NAME,
			DOC_CONTENT,
			EFF_DATE,
			APPR_NO1,
			APPR_NO2,
			APPR_NO3,
			APPR_NO4
		)
		VALUES
		(
			SEQ_APNO.NEXTVAL,
		    #{empNo},
			#{formName},
			#{docName},
			#{docContent},
			#{EffDate},
			#{apprNo1},
			#{apprNo2},
			#{apprNo3},
			#{apprNo4}
		)
	</insert>
	
	<delete id="deleteLine">
		DELETE FROM APPR_LINE WHERE LINE_NO = ${lineNo}
	</delete>
</mapper>