<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="appr">
	<select id="getOrgList" resultType="apprVo">
		SELECT * 
		FROM EMP
	</select>
	
	<select id="getPerson" resultType="apprVo">
		SELECT *
		FROM EMP
		WHERE EMP_NAME = #{empName}
	</select>
	
	<select id="getPerson1" resultType="apprVo">
		SELECT *
		FROM EMP
		WHERE EMP_NAME = #{empName1}
	</select>
	
	<select id="getPerson2" resultType="apprVo">
		SELECT *
		FROM EMP
		WHERE EMP_NAME = #{empName2}
	</select>
	
	<select id="getPerson3" resultType="apprVo">
		SELECT *
		FROM EMP
		WHERE EMP_NAME = #{empName3}
	</select>
	
	<select id="getPerson4" resultType="apprVo">
		SELECT *
		FROM EMP
		WHERE EMP_NAME = #{empName4}
	</select>
	
	<select id="getPerson5" resultType="apprVo">
		SELECT *
		FROM EMP
		WHERE EMP_NAME = #{empName5}
	</select>
	
	<select id="getPerson6" resultType="apprVo">
		SELECT *
		FROM EMP
		WHERE EMP_NAME = #{empName6}
	</select>
	
	<select id="getPerson7" resultType="apprVo">
		SELECT *
		FROM EMP
		WHERE EMP_NAME = #{empName7}
	</select>
</mapper>