<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="attendance">
	<select id = "getSeq" resultType="int">
  		SELECT ATT_NO_SEQ.NEXTVAL FROM DUAL
  	</select>
  	
  	<insert id="insertWork" parameterType="attendanceDto">
  		INSERT INTO ATTENDANCE
  		(
  			ATT_NO,
  			EMP_NO,
  			WORK_FORM,
  			ATT_DATE,
  			ATT_STR_DATE
  		)
  		VALUES
  		(
  			#{attNo},
  			#{empNo},
  			'정상근무',
  			'Y',
  			SYSDATE
  		)
  	</insert>
  	
  	<select id="selectInfoWork" parameterType="attendanceDto" resultType="attendanceDto">
  		SELECT * FROM
  		ATTENDANCE
  		WHERE EMP_NO = #{empNo} and ATT_STR_DATE = SYSDATE
  	</select>
  	
  	<select id="selectWorkList" parameterType="long" resultType="attendanceDto">
  		SELECT * FROM
  		ATTENDANCE
  		WHERE EMP_NO = #{empNo} and ATT_END_DATE &lt; SYSDATE
  	</select>
  	
  	<!-- 근무 폼 업데이트 -->
  	<update id="updateWork" parameterType="attendanceDto">
		UPDATE ATTENDANCE
				SET ATT_END_DATE = SYSDATE,
		<choose>
			<when test="attNsStart &lt; attNsEnd or (attNsStartEnd &lt; attNsEnd and attNsStartEndfinal &gt; attNsEnd)">
				 WORK_FORM ='야간근무', ATT_NS_YN = 'Y'
			</when>
			<when test="ovDateStrat &lt; attNsEnd || attNsStart &lt; attNsEnd ">
				 WORK_FORM ='초과근무', OV_DATE_YN = 'Y'
			</when>
			<otherwise>
				 WORK_FORM ='정상근무', ATT_NS_YN = 'N', 
			</otherwise>
		</choose>
				WHERE ATT_STR_DATE = (SELECT MAX(ATT_STR_DATE) FROM ATTENDANCE WHERE EMP_NO = #{empNo})						
  	</update>
  	
  	 <insert id="tardyWork" parameterType="attendanceDto">
  		INSERT INTO ATTENDANCE
  		(
  			ATT_NO,
  			EMP_NO,
  			WORK_FORM,
  			ATT_DATE,
  			ATT_STR_DATE,
  			ATT_LATE
  		)
  		VALUES
  		(
  			#{attNo},
  			#{empNo},
  			'지각',
  			'Y',
  			SYSDATE,
  			'Y'
  		)
  	</insert>

  	<select id="selectAttList" resultType="attendanceDto">
  		SELECT * FROM ATTENDANCE
  		<if test=" type != null">  		
			WHERE EMP_NO = #{empNo} and WORK_FORM LIKE #{type}  				
  		</if>
  		
  	</select>
  	
  	<select id="selectAttAllList" resultType="attendanceDto">
  		SELECT * FROM ATTENDANCE
  		<if test=" type != null">  		
			WHERE EMP_NO = #{empNo}  				
  		</if> 
  	</select>
</mapper>