<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="attendance">
	<select id = "getSeq" resultType="int">
  		SELECT ATT_NO_SEQ.NEXTVAL FROM DUAL
  	</select>
  	
  	<insert id="insertWork" parameterType="attendanceDto">
  		INSERT INTO ATTENDANCE
  		(
  			ATT_NO,
  			EMP_NO,
  			WORK_FORM,
  			ATT_DATE,
  			ATT_STR_DATE
  		)
  		VALUES
  		(
  			#{attNo},
  			#{empNo},
  			'정상근무',
  			'Y',
  			SYSDATE
  		)
  	</insert>
  	
  	<select id="selectInfoWork" parameterType="attendanceDto" resultType="attendanceDto">
  		SELECT * FROM
  		ATTENDANCE
  		WHERE EMP_NO = #{empNo} and ATT_STR_DATE = SYSDATE 
  	</select>
  	
  	<select id="selectWorkList" parameterType="long" resultType="attendanceDto">
  		SELECT * FROM
  		ATTENDANCE
  		WHERE EMP_NO = #{empNo} and ATT_END_DATE &lt; SYSDATE
  	</select>
  	
  	<!-- 근무 폼 업데이트 -->
  	<update id="updateWork" parameterType="attendanceDto">
		UPDATE ATTENDANCE
				SET ATT_END_DATE = SYSDATE,
		<choose>
			<when test="attNsStart &lt; attNsEnd || (attNsStartEnd &lt; attNsEnd and attNsStartEndfinal &gt; attNsEnd)">
				 WORK_FORM ='야간근무', ATT_NS_YN = 'Y', ATT_WORKING_DATE = #{attWorkingDate}
			</when>
			<when test="ovDateStrat &lt; attNsEnd || attNsStart &lt; attNsEnd ">
				 WORK_FORM ='초과근무', OV_DATE_YN = 'Y', ATT_WORKING_DATE = #{attWorkingDate}
			</when>
			<otherwise>
				 WORK_FORM ='정상근무', ATT_NS_YN = 'N', ATT_WORKING_DATE = #{attWorkingDate}
			</otherwise>
		</choose>
				WHERE ATT_STR_DATE = (SELECT MAX(ATT_STR_DATE) FROM ATTENDANCE WHERE EMP_NO = #{empNo})						
  	</update>
  	
  	<!-- 휴일 폼 업데이트 -->
  	<update id="updateWeekentWork" parameterType="attendanceDto">
		UPDATE ATTENDANCE
				SET HW_END_DATE = SYSDATE, ATT_END_DATE = SYSDATE, WORK_FORM ='휴일근무', HW_YN = 'Y', ATT_WORKING_DATE = #{attWorkingDate}
		WHERE ATT_STR_DATE = (SELECT MAX(ATT_STR_DATE) FROM ATTENDANCE WHERE EMP_NO = #{empNo})						
  	</update>
  	
  	 <insert id="tardyWork" parameterType="attendanceDto">
  		INSERT INTO ATTENDANCE
  		(
  			ATT_NO,
  			EMP_NO,
  			WORK_FORM,
  			ATT_DATE,
  			ATT_STR_DATE,
  			ATT_LATE
  		)
  		VALUES
  		(
  			#{attNo},
  			#{empNo},
  			'지각',
  			'Y',
  			SYSDATE,
  			'Y'
  		)
  	</insert>

     <select id="selectAttList" resultType="attendanceDto" parameterType="hashmap">
         SELECT * FROM ATTENDANCE        
         WHERE EMP_NO = #{empNo} and WORK_FORM = #{type}                  
     </select>
  	
    <select id="selectAttAllList" resultType="attendanceDto" parameterType="hashmap">
        SELECT * FROM ATTENDANCE           
        WHERE EMP_NO = #{empNo}        
    </select>
  	
  	<select id="getAttEmpAllList" resultType="attendanceDto" parameterType="hashmap">
        SELECT  E.EMP_NO, E.EMP_NAME, E.DEPT_NAME, E.JOB_NAME, 
        		A.ATT_NO, A.WORK_FORM, A.ATT_STR_DATE, A.ATT_END_DATE,
        		A.ATT_WORK_DATE, A.ATT_CONTENT, A.ATT_CONTENT_YN,
        		A.ATT_CONTENT_REASON
        FROM EMP E FULL OUTER JOIN ATTENDANCE A
        ON E.EMP_NO = A.EMP_NO
          <if test=" type != null and v != null">
          	<choose>
          		<when test="type eq 'DEPT_NAME'">
          			<bind name="dept" value=" '%' + v + '%' "/>
          				WHERE E.${type} LIKE #{dept}
          		</when>
          		<when test="type eq 'EMP_NAME'">
          			<bind name="emp" value=" '%' + v + '%' "/>
          				WHERE E.${type} LIKE #{emp}
          		</when>
         		<when test="type eq 'JOB_NAME'">
          			<bind name="job" value=" '%' + v + '%' "/>
          				WHERE E.${type} LIKE #{job}
          		</when>
          	</choose>                           
          </if>
    </select>
  	
  	<select id="getAttEmpEpAllList" resultType="attendanceDto">
        SELECT * FROM ATTENDANCE        
        WHERE EMP_NO = #{empNo} AND (ATT_CONTENT_YN = '승인' OR ATT_CONTENT_YN = '반려')          
    </select>
  	
  	<update id="updateContent" parameterType="attendanceDto">
		UPDATE ATTENDANCE
			SET ATT_CONTENT = #{attContent}, ATT_CONTENT_YN ='대기'
		WHERE ATT_NO = #{attNo}
  	</update>
  	
  	<select id="getAttCnt" resultType="int">
		SELECT COUNT(ATT_NO)
		FROM ATTENDANCE
		WHERE ATT_CONTENT_YN ='대기'
	</select>
	
	<select id="getworkChartList" parameterType="long" resultType="attendanceDto">
		SELECT ATT_WORKING_DATE
		FROM ATTENDANCE
		WHERE EMP_NO = #{empNo}
	</select>

	<select id="getAttEmpAdminAllList" resultType="attendanceDto" parameterType="hashmap">
        SELECT * FROM ATTENDANCE                  
    </select>
    
    <select id="getAttSetAdminAllList" resultType="attendanceDto">
        SELECT  E.EMP_NO, E.EMP_NAME, E.DEPT_NAME, E.JOB_NAME, 
        		A.ATT_NO, A.WORK_FORM, A.ATT_STR_DATE, A.ATT_END_DATE,
        		A.ATT_WORK_DATE, A.ATT_CONTENT, A.ATT_CONTENT_YN,
        		A.ATT_CONTENT_REASON
        FROM EMP E FULL OUTER JOIN ATTENDANCE A
        ON E.EMP_NO = A.EMP_NO  
        WHERE ATT_CONTENT_YN = '대기'              
    </select>
    
    <select id="getAttSetAdminUpdateAllList" resultType="attendanceDto">
        SELECT  E.EMP_NO, E.EMP_NAME, E.DEPT_NAME, E.JOB_NAME, 
        		A.ATT_NO, A.WORK_FORM, A.ATT_STR_DATE, A.ATT_END_DATE,
        		A.ATT_WORK_DATE, A.ATT_CONTENT, A.ATT_CONTENT_YN,
        		A.ATT_CONTENT_REASON
        FROM EMP E FULL OUTER JOIN ATTENDANCE A
        ON E.EMP_NO = A.EMP_NO  
        WHERE ATT_CONTENT_YN = '승인' OR ATT_CONTENT_YN = '반려'           
    </select>
    
     <update id="updateAdminContent" parameterType="attendanceDto">
		UPDATE ATTENDANCE
			SET ATT_CONTENT_REASON = #{attContentReason}, ATT_CONTENT_YN = #{attContentYn}
		WHERE ATT_NO = #{attNo}
  	</update>
</mapper>