<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="emp">
	<select id="getEmp" parameterType="empDto" resultType="empDto">
		SELECT *
		FROM EMP
	</select>
	
	<insert id="insertEmp" parameterType="empDto">
		INSERT INTO EMP
		(
			 EMP_NO
		    ,EMP_NAME
		    ,EMP_PASSWORD
		    ,EMP_BIRTH
		    ,EMP_DEPTNO
		    ,EMP_JOBNO
		    ,EMP_PHONE
		    ,EMP_ADD
		    ,EMP_DT_ADD
		    ,EMP_OFFICE_PHONE
		    ,EMP_EMAIL
		    ,EMP_ENROLLDATE
		    ,EMP_RESIGNDATE
		    ,EMP_MOD  
		    ,EMP_PHOTO_ROUTE
		    ,EMP_PHOTO_NAME
		)
		VALUES
		(
			 #{empNo}
			,#{empName}
			,#{empPassword}
			,#{empBirth}
			,#{empDeptno}
			,#{empJobno}
			,#{empPhone}
			,#{empAdd}
			,#{empdtAdd}
			,#{empofficePhone}
			,#{empEmail}
			,#{empenrollDate}
			,#{empresignDate}
			,#{empMod}
			,#{empphotoRoute}
			,#{empphotoName}
		)
	</insert>
	
	<select id="getgetEmp" parameterType="empDto" resultType="empDto">
		SELECT *
		FROM EMP E
		JOIN EMP_PROFILE P
		ON E.EMP_NO = P.EMP_NO
		WHERE EMP_NO = #{empNo}
	</select>
	  
</mapper>