<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">
    <select id="getMember" parameterType="memberDto" resultType="memberDto">
        SELECT *
        FROM EMP
        WHERE EMP_NO = #{empNo}
    </select>
    
    <insert id="insertMember" parameterType="memberDto">
        INSERT INTO EMP
        (
             EMP_NO
            ,EMP_NAME
            ,EMP_PASSWORD
            ,EMP_BIRTH
            ,EMP_EMAIL
            ,EMP_ADD
            ,EMP_PHONE
            ,EMP_DEPTNAME
            ,EMP_JOBNAME
            ,MANAGER_YN
            ,MANAGER_DEPT
        )
        VALUES
        (
             #{empNo}
            ,#{empName}
            ,#{empPassword}
            ,#{empBirth}
            ,#{empEmail}
            ,#{empAdd}
            ,#{empPhone}
            ,#{empDeptname}
            ,#{empJobname}
            ,#{managerYn}
            ,#{managerDept}
        )
    </insert>
      
</mapper>