<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		 <setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
  <typeAliases>
		<typeAlias type="com.hh.hh.member.entity.MemberDto" alias="memberDto"/>
        <typeAlias type="com.hh.hh.salary.entity.SalaryDto" alias="salaryDto"/>
        <typeAlias type="com.hh.hh.salary.entity.PayrollDto" alias="payrollDto"/>
        <typeAlias type="com.hh.hh.attendance.entity.AttendanceDto" alias="attendanceDto"/>
        <typeAlias type="com.hh.hh.annual.entity.AnnualDto" alias="annualDto"/>
        <typeAlias type="com.hh.hh.notice.entity.NoticeDto" alias="notice"/>
        <typeAlias type="com.hh.hh.appr.entity.ApprDto" alias="apprVo"/>
        <typeAlias type="com.hh.hh.attendance.entity.AttendanceDto" alias="attMap"/>  
        <typeAlias type="com.hh.hh.insa.entity.EmpDto" alias="empDto"/>   
	 	<typeAlias type="com.hh.hh.empinfo.entity.EmpinfoDto" alias="empinfoDto"/>
	 	<typeAlias type="com.hh.hh.salary.entity.EmailDto" alias="emailDto"/>
	 	<typeAlias type="com.hh.hh.salary.entity.InputDto" alias="inputDto"/>
        <typeAlias type="com.hh.hh.resign.entity.ResignDto" alias="resignDto"/>  
     <!-- <typeAlias type="com.hh.hh.chat.entity.ChatDto" alias="chatDto"/>  -->
      
    </typeAliases>
</configuration>