<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="notice">

	<insert id="insert" parameterType="notice">
		INSERT INTO NOTICE
		(
			  TITLE
			, CONTENT
			, WRITER
			, ENROLL_DATE
		)
		VALUES
		(
			  #{title}
			, #{content}
			, '관리자'
			, SYSDATE
		)
	</insert>
	
	<select id="selectAll" resultType="notice">
		SELECT *
		FROM NOTICE
	</select>
	
	<select id="selectOneByTitle" parameterType="string" resultType="notice">
		SELECT *
		FROM NOTICE
		WHERE TITLE = #{title}
	</select>
	
	<update id="update" parameterType="notice">
		UPDATE NOTICE
		SET 
		  CONTENT = #{content}
		, WRITER = '관리자'
		, ENROLL_DATE = SYSDATE
		WHERE TITLE = #{title}
	</update>
	
	<delete id="delete" parameterType="notice">
		DELETE FROM NOTICE
		WHERE TITLE = #{title}
	</delete>
	
</mapper>