<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="notice">

	<insert id="insert" parameterType="notice">
		INSERT INTO NOTICE
		(
			  NOTICE_NO
			, TITLE
			, CONTENT
			, WRITER
			, ENROLL_DATE
		)
		VALUES
		(
			  NOTICE_NO_SEQ.NEXTVAL
			, #{title}
			, #{content}
			, #{writer}
			, SYSDATE
		)
	</insert>
	
	<select id="selectAll" resultType="notice">
		SELECT *
		FROM NOTICE
	</select>
	
	<select id="selectOneByNo" parameterType="string" resultType="notice">
		SELECT *
		FROM NOTICE
		WHERE NOTICE_NO = #{noticeNo}
	</select>
	
	<update id="update" parameterType="notice">
		UPDATE NOTICE
		SET 
		  CONTENT = #{content}
		, TITLE = #{title}
		WHERE NOTICE_NO = #{noticeNo}
	</update>
	
	<delete id="delete" parameterType="notice">
		DELETE FROM NOTICE
		WHERE NOTICE_NO = #{noticeNo}
	</delete>
	
	<delete id="deleteCheckbox" parameterType="map">
		DELETE FROM NOTICE
		WHERE NOTICE_NO IN
		<foreach collection="array" item="x" separator="," open="(" close=")">
		#{x}
		</foreach>
	</delete>
	
	<select id="getNoticeList" resultType="notice">
		SELECT * FROM
		(
			SELECT ROWNUM RN, T.* 
			FROM
			(
				SELECT *
				FROM NOTICE
			) T
		)
		WHERE RN BETWEEN #{startRow} AND #{endRow}
	</select>
	
	<select id="getNoticeCnt" resultType="int">
		SELECT COUNT(NOTICE_NO)
		FROM NOTICE
	</select>
	
</mapper>