<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="resign">
	<select id="getResignList" resultType="resignDto">
	SELECT E.EMP_NO AS RE_NO,
	SELECT E.EMP_NO AS RE_NO,
        E.EMP_NAME AS RE_NAME,
        E.EMP_DEPTNO AS RE_DEPT,
        E.EMP_JOBCODE AS RE_RANK,
        E.EMP_ADDRESS AS RE_ADDRESS,
        R.HIRE_DATE AS RE_HIRE_DATE,
        R.RESIGN_DATE AS RE_RESIGN_DATE,
        S.LONG_SERVICE_ALLOWANCE AS RE_LONG_SERVICE_ALLOWANCE,
        S.LONG_SERVICE_DAY AS RE_LONG_SERVICE_DAY,
        S.MEAL_EXPENSES AS RE_MEAL_EXPENSES,
        S.REGULAR_HOURLY_WAGE AS RE_REGULAR_HOURLY_WAGE,
        S.TRANSPORTATION_EXPENSES AS RE_TRANSPORTATION_EXPENSES,
        TRUNC((R.RESIGN_DATE-R.HIRE_DATE)+1) AS RE_TOTAL_WORK,
        TRUNC(MONTHS_BETWEEN(R.RESIGN_DATE,R.HIRE_DATE)) AS RE_TOTAL_MONTHS,
        TRUNC(MONTHS_BETWEEN(R.RESIGN_DATE,R.HIRE_DATE)/12) AS RE_TOTAL_YEARS,
        --일평균
            TRUNC((((P.BASIC_SALARY +
            P.OVERTIME_ALLOWANCE +
            P.HOLIDAY_ALLOWANCE +
            P.ANNUAL_LEAVE_ALLOWANCE +
            P.MEAL_EXPENSES +
            P.TRANSPORTATION_EXPENSES +
            P.BONUS +
            P.SPECIAL_ALLOWANCE) -
            (P.EMPLOYMENT_INSURANCE +
            P.HEALTH_INSURANCE +
            P.NATIONAL_PENSION +
            P.TAX +
            P.LOCAL_INCOME_TAX))*3)/90 )AS RE_ONE_AVR_PAY,
          --퇴직금  
            TRUNC(((((P.BASIC_SALARY +
            P.OVERTIME_ALLOWANCE +
            P.HOLIDAY_ALLOWANCE +
            P.ANNUAL_LEAVE_ALLOWANCE +
            P.MEAL_EXPENSES +
            P.TRANSPORTATION_EXPENSES +
            P.BONUS +
            P.SPECIAL_ALLOWANCE) -
            (P.EMPLOYMENT_INSURANCE +
            P.HEALTH_INSURANCE +
            P.NATIONAL_PENSION +
            P.TAX +
            P.LOCAL_INCOME_TAX))*3)/90)* (R.TOTAL_WORK/365)) AS RE_RESIGN_PAY
        
                    
FROM EMP E , RESIGN R ,SALARY S,PAYROLL P
WHERE E.RESIGN_YN='Y' AND E.EMP_NO=R.EMP_NO AND E.EMP_NO=S.EMP_NO

	</select>
	
	<select id="getTotalResignList" resultType="resignDto">



SELECT E.EMP_NO AS RE_NO,
        E.EMP_NAME AS RE_NAME,
        E.EMP_DEPTNO AS RE_DEPT,
        E.EMP_JOBCODE AS RE_RANK,
        E.EMP_ADDRESS AS RE_ADDRESS,
        R.HIRE_DATE AS RE_HIRE_DATE,
        R.RESIGN_DATE AS RE_RESIGN_DATE,
        S.LONG_SERVICE_ALLOWANCE AS RE_LONG_SERVICE_ALLOWANCE,
        S.LONG_SERVICE_DAY AS RE_LONG_SERVICE_DAY,
        S.MEAL_EXPENSES AS RE_MEAL_EXPENSES,
        S.REGULAR_HOURLY_WAGE AS RE_REGULAR_HOURLY_WAGE,
        S.TRANSPORTATION_EXPENSES AS RE_TRANSPORTATION_EXPENSES,
        TRUNC((R.RESIGN_DATE-R.HIRE_DATE)+1) AS RE_TOTAL_WORK,
        TRUNC(MONTHS_BETWEEN(R.RESIGN_DATE,R.HIRE_DATE)) AS RE_TOTAL_MONTHS,
        TRUNC(MONTHS_BETWEEN(R.RESIGN_DATE,R.HIRE_DATE)/12) AS RE_TOTAL_YEARS,
        --일평균
            TRUNC((((P.BASIC_SALARY +
            P.OVERTIME_ALLOWANCE +
            P.HOLIDAY_ALLOWANCE +
            P.ANNUAL_LEAVE_ALLOWANCE +
            P.MEAL_EXPENSES +
            P.TRANSPORTATION_EXPENSES +
            P.BONUS +
            P.SPECIAL_ALLOWANCE) -
            (P.EMPLOYMENT_INSURANCE +
            P.HEALTH_INSURANCE +
            P.NATIONAL_PENSION +
            P.TAX +
            P.LOCAL_INCOME_TAX))*3)/90 )AS RE_ONE_AVR_PAY,
          --퇴직금  
            TRUNC(((((P.BASIC_SALARY +
            P.OVERTIME_ALLOWANCE +
            P.HOLIDAY_ALLOWANCE +
            P.ANNUAL_LEAVE_ALLOWANCE +
            P.MEAL_EXPENSES +
            P.TRANSPORTATION_EXPENSES +
            P.BONUS +
            P.SPECIAL_ALLOWANCE) -
            (P.EMPLOYMENT_INSURANCE +
            P.HEALTH_INSURANCE +
            P.NATIONAL_PENSION +
            P.TAX +
            P.LOCAL_INCOME_TAX))*3)/90)* (R.TOTAL_WORK/365)) AS RE_RESIGN_PAY
        
                    
FROM EMP E , RESIGN R ,SALARY S,PAYROLL P
WHERE E.RESIGN_YN='N' AND E.EMP_NO=R.EMP_NO AND E.EMP_NO=S.EMP_NO AND E.EMP_NO=P.EMP_NO

	</select>


</mapper>