<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="resign">

<select id="selectOneEmp" resultType="resignDto">

SELECT  E.EMP_NO AS RE_NO,
        E.EMP_NAME AS RE_NAME,
        E.DEPT_NAME AS RE_DEPT,
        E.JOB_NAME AS RE_RANK,
        E.EMP_ADD AS RE_ADDRESS,
        E.EMP_ENROLLDATE AS RE_HIRE_DATE,
        E.EMP_RESIGNDATE AS RE_RESIGN_DATE,
        S.LONG_SERVICE_ALLOWANCE AS RE_LONG_SERVICE_ALLOWANCE,
        S.LONG_SERVICE_DAY AS RE_LONG_SERVICE_DAY,
        S.MEAL_EXPENSES AS RE_MEAL_EXPENSES,
        S.REGULAR_HOURLY_WAGE AS RE_REGULAR_HOURLY_WAGE,
        S.TRANSPORTATION_EXPENSES AS RE_TRANSPORTATION_EXPENSES,      
        TRUNC(TO_DATE(E.EMP_RESIGNDATE,'YYMMDD')-TO_DATE(E.EMP_ENROLLDATE,'YYMMDD')+1) AS RE_TOTAL_WORK,
        TRUNC(MONTHS_BETWEEN(TO_DATE(E.EMP_RESIGNDATE,'YYMMDD'),TO_DATE(E.EMP_ENROLLDATE,'YYMMDD'))) AS RE_TOTAL_MONTHS,
        TRUNC((MONTHS_BETWEEN(TO_DATE(E.EMP_RESIGNDATE,'YYMMDD')  ,TO_DATE(E.EMP_ENROLLDATE,'YYMMDD')))/12) AS RE_TOTAL_YEARS,
        --일평균
            TRUNC((((P.BASIC_SALARY +
            P.OVERTIME_ALLOWANCE +
            P.HOLIDAY_ALLOWANCE +
            P.ANNUAL_LEAVE_ALLOWANCE +
            P.MEAL_EXPENSES +
            P.TRANSPORTATION_EXPENSES +
            P.BONUS +
            P.SPECIAL_ALLOWANCE)
            -
            (P.EMPLOYMENT_INSURANCE +
            P.HEALTH_INSURANCE +
            P.NATIONAL_PENSION +
            P.TAX +
            P.LOCAL_INCOME_TAX)
            )*3)/90)AS RE_ONE_AVR_PAY,
            
             --기본급여
            TRUNC((P.BASIC_SALARY +
            P.OVERTIME_ALLOWANCE +
            P.HOLIDAY_ALLOWANCE +
            P.ANNUAL_LEAVE_ALLOWANCE +
            P.MEAL_EXPENSES +
            P.TRANSPORTATION_EXPENSES +
            P.BONUS +
            P.SPECIAL_ALLOWANCE
            )-(
            P.EMPLOYMENT_INSURANCE +
            P.HEALTH_INSURANCE +
            P.NATIONAL_PENSION +
            P.TAX +
            P.LOCAL_INCOME_TAX
            )) AS RE_BASIC_PAY,
            
              --3개월 임금
            TRUNC((
            (P.BASIC_SALARY +
            P.OVERTIME_ALLOWANCE +
            P.HOLIDAY_ALLOWANCE +
            P.ANNUAL_LEAVE_ALLOWANCE +
            P.MEAL_EXPENSES +
            P.TRANSPORTATION_EXPENSES +
            P.BONUS +
            P.SPECIAL_ALLOWANCE) -
            (P.EMPLOYMENT_INSURANCE +
            P.HEALTH_INSURANCE +
            P.NATIONAL_PENSION +
            P.TAX +
            P.LOCAL_INCOME_TAX)
            )*3) AS RE_MONTHS_PAYS,
                
                --연간상여금
            P.BONUS*12 AS RE_YEAR_BONUS,
            
          --퇴직금  
            TRUNC((((
            (P.BASIC_SALARY +
            P.OVERTIME_ALLOWANCE +
            P.HOLIDAY_ALLOWANCE +
            P.ANNUAL_LEAVE_ALLOWANCE +
            P.MEAL_EXPENSES +
            P.TRANSPORTATION_EXPENSES +
            P.BONUS +
            P.SPECIAL_ALLOWANCE)
            -
            (P.EMPLOYMENT_INSURANCE +
            P.HEALTH_INSURANCE +
            P.NATIONAL_PENSION +
            P.TAX +
            P.LOCAL_INCOME_TAX))*3)/90)*TRUNC(TO_DATE(E.EMP_RESIGNDATE,'YYMMDD')-TO_DATE(E.EMP_ENROLLDATE,'YYMMDD')+1)) AS RE_RESIGN_PAY 
            
FROM  EMP E,SALARY S,PAYROLL P
WHERE  E.EMP_RESIGNYN='Y' AND E.EMP_NO=S.EMP_NO AND E.EMP_NO=P.EMP_NO
AND E.EMP_NO=#{reNo}


</select>

	<select id="getResignList" resultType="resignDto">
	SELECT
		E.EMP_NO AS RE_NO,
        E.EMP_NAME AS RE_NAME,
        E.DEPT_NAME AS RE_DEPT,
        E.JOB_NAME AS RE_RANK,
        E.EMP_ADD AS RE_ADDRESS,
        E.EMP_ENROLLDATE AS RE_HIRE_DATE,
        E.EMP_RESIGNDATE AS RE_RESIGN_DATE,
        S.LONG_SERVICE_ALLOWANCE AS RE_LONG_SERVICE_ALLOWANCE,
        S.LONG_SERVICE_DAY AS RE_LONG_SERVICE_DAY,
        S.MEAL_EXPENSES AS RE_MEAL_EXPENSES,
        S.REGULAR_HOURLY_WAGE AS RE_REGULAR_HOURLY_WAGE,
        S.TRANSPORTATION_EXPENSES AS RE_TRANSPORTATION_EXPENSES,      
        TRUNC(TO_DATE(E.EMP_RESIGNDATE,'YYMMDD')-TO_DATE(E.EMP_ENROLLDATE,'YYMMDD')+1) AS RE_TOTAL_WORK,
        TRUNC(MONTHS_BETWEEN(TO_DATE(E.EMP_RESIGNDATE,'YYMMDD'),TO_DATE(E.EMP_ENROLLDATE,'YYMMDD'))) AS RE_TOTAL_MONTHS,
        TRUNC((MONTHS_BETWEEN(TO_DATE(E.EMP_RESIGNDATE,'YYMMDD')  ,TO_DATE(E.EMP_ENROLLDATE,'YYMMDD')))/12) AS RE_TOTAL_YEARS,
        --일평균
            TRUNC((((P.BASIC_SALARY +
            P.OVERTIME_ALLOWANCE +
            P.HOLIDAY_ALLOWANCE +
            P.ANNUAL_LEAVE_ALLOWANCE +
            P.MEAL_EXPENSES +
            P.TRANSPORTATION_EXPENSES +
            P.BONUS +
            P.SPECIAL_ALLOWANCE)
            -
            (P.EMPLOYMENT_INSURANCE +
            P.HEALTH_INSURANCE +
            P.NATIONAL_PENSION +
            P.TAX +
            P.LOCAL_INCOME_TAX)
            )*3)/90)AS RE_ONE_AVR_PAY,
            
             --기본급여
            TRUNC((P.BASIC_SALARY +
            P.OVERTIME_ALLOWANCE +
            P.HOLIDAY_ALLOWANCE +
            P.ANNUAL_LEAVE_ALLOWANCE +
            P.MEAL_EXPENSES +
            P.TRANSPORTATION_EXPENSES +
            P.BONUS +
            P.SPECIAL_ALLOWANCE
            )-(
            P.EMPLOYMENT_INSURANCE +
            P.HEALTH_INSURANCE +
            P.NATIONAL_PENSION +
            P.TAX +
            P.LOCAL_INCOME_TAX
            )) AS RE_BASIC_PAY,
            
              --3개월 임금
            TRUNC((
            (P.BASIC_SALARY +
            P.OVERTIME_ALLOWANCE +
            P.HOLIDAY_ALLOWANCE +
            P.ANNUAL_LEAVE_ALLOWANCE +
            P.MEAL_EXPENSES +
            P.TRANSPORTATION_EXPENSES +
            P.BONUS +
            P.SPECIAL_ALLOWANCE) -
            (P.EMPLOYMENT_INSURANCE +
            P.HEALTH_INSURANCE +
            P.NATIONAL_PENSION +
            P.TAX +
            P.LOCAL_INCOME_TAX)
            )*3) AS RE_MONTHS_PAYS,
                
                --연간상여금
            P.BONUS*12 AS RE_YEAR_BONUS,
            
          --퇴직금  
            TRUNC((((
            (P.BASIC_SALARY +
            P.OVERTIME_ALLOWANCE +
            P.HOLIDAY_ALLOWANCE +
            P.ANNUAL_LEAVE_ALLOWANCE +
            P.MEAL_EXPENSES +
            P.TRANSPORTATION_EXPENSES +
            P.BONUS +
            P.SPECIAL_ALLOWANCE)
            -
            (P.EMPLOYMENT_INSURANCE +
            P.HEALTH_INSURANCE +
            P.NATIONAL_PENSION +
            P.TAX +
            P.LOCAL_INCOME_TAX))*3)/90)*TRUNC(TO_DATE(E.EMP_RESIGNDATE,'YYMMDD')-TO_DATE(E.EMP_ENROLLDATE,'YYMMDD')+1)) AS RE_RESIGN_PAY 
            
FROM  EMP E,SALARY S,PAYROLL P
WHERE  E.EMP_RESIGNYN='Y' AND E.EMP_NO=S.EMP_NO AND E.EMP_NO=P.EMP_NO

	</select>
	
	<select id="searchEmpList" parameterType="inputDto" resultType="resignDto">
		
		SELECT
		E.EMP_NO AS RE_NO,
        E.EMP_NAME AS RE_NAME,
        E.DEPT_NAME AS RE_DEPT,
        E.JOB_NAME AS RE_RANK,
        E.EMP_ADD AS RE_ADDRESS,
        E.EMP_ENROLLDATE AS RE_HIRE_DATE,
        E.EMP_RESIGNDATE AS RE_RESIGN_DATE,
        S.LONG_SERVICE_ALLOWANCE AS RE_LONG_SERVICE_ALLOWANCE,
        S.LONG_SERVICE_DAY AS RE_LONG_SERVICE_DAY,
        S.MEAL_EXPENSES AS RE_MEAL_EXPENSES,
        S.REGULAR_HOURLY_WAGE AS RE_REGULAR_HOURLY_WAGE,
        S.TRANSPORTATION_EXPENSES AS RE_TRANSPORTATION_EXPENSES,      
        TRUNC(TO_DATE(E.EMP_RESIGNDATE,'YYMMDD')-TO_DATE(E.EMP_ENROLLDATE,'YYMMDD')+1) AS RE_TOTAL_WORK,
        TRUNC(MONTHS_BETWEEN(TO_DATE(E.EMP_RESIGNDATE,'YYMMDD'),TO_DATE(E.EMP_ENROLLDATE,'YYMMDD'))) AS RE_TOTAL_MONTHS,
        TRUNC((MONTHS_BETWEEN(TO_DATE(E.EMP_RESIGNDATE,'YYMMDD')  ,TO_DATE(E.EMP_ENROLLDATE,'YYMMDD')))/12) AS RE_TOTAL_YEARS,
        --일평균
            TRUNC((((P.BASIC_SALARY +
            P.OVERTIME_ALLOWANCE +
            P.HOLIDAY_ALLOWANCE +
            P.ANNUAL_LEAVE_ALLOWANCE +
            P.MEAL_EXPENSES +
            P.TRANSPORTATION_EXPENSES +
            P.BONUS +
            P.SPECIAL_ALLOWANCE)
            -
            (P.EMPLOYMENT_INSURANCE +
            P.HEALTH_INSURANCE +
            P.NATIONAL_PENSION +
            P.TAX +
            P.LOCAL_INCOME_TAX)
            )*3)/90)AS RE_ONE_AVR_PAY,
            
             --기본급여
            TRUNC((P.BASIC_SALARY +
            P.OVERTIME_ALLOWANCE +
            P.HOLIDAY_ALLOWANCE +
            P.ANNUAL_LEAVE_ALLOWANCE +
            P.MEAL_EXPENSES +
            P.TRANSPORTATION_EXPENSES +
            P.BONUS +
            P.SPECIAL_ALLOWANCE
            )-(
            P.EMPLOYMENT_INSURANCE +
            P.HEALTH_INSURANCE +
            P.NATIONAL_PENSION +
            P.TAX +
            P.LOCAL_INCOME_TAX
            )) AS RE_BASIC_PAY,
            
              --3개월 임금
            TRUNC((
            (P.BASIC_SALARY +
            P.OVERTIME_ALLOWANCE +
            P.HOLIDAY_ALLOWANCE +
            P.ANNUAL_LEAVE_ALLOWANCE +
            P.MEAL_EXPENSES +
            P.TRANSPORTATION_EXPENSES +
            P.BONUS +
            P.SPECIAL_ALLOWANCE) -
            (P.EMPLOYMENT_INSURANCE +
            P.HEALTH_INSURANCE +
            P.NATIONAL_PENSION +
            P.TAX +
            P.LOCAL_INCOME_TAX)
            )*3) AS RE_MONTHS_PAYS,
                
                --연간상여금
            P.BONUS*12 AS RE_YEAR_BONUS,
            
          --퇴직금  
            TRUNC((((
            (P.BASIC_SALARY +
            P.OVERTIME_ALLOWANCE +
            P.HOLIDAY_ALLOWANCE +
            P.ANNUAL_LEAVE_ALLOWANCE +
            P.MEAL_EXPENSES +
            P.TRANSPORTATION_EXPENSES +
            P.BONUS +
            P.SPECIAL_ALLOWANCE)
            -
            (P.EMPLOYMENT_INSURANCE +
            P.HEALTH_INSURANCE +
            P.NATIONAL_PENSION +
            P.TAX +
            P.LOCAL_INCOME_TAX))*3)/90)*TRUNC(TO_DATE(E.EMP_RESIGNDATE,'YYMMDD')-TO_DATE(E.EMP_ENROLLDATE,'YYMMDD')+1)) AS RE_RESIGN_PAY 
            
FROM  EMP E,SALARY S,PAYROLL P
WHERE  E.EMP_RESIGNYN='Y' AND E.EMP_NO=S.EMP_NO AND E.EMP_NO=P.EMP_NO
		AND
		  <choose>
		            <when test="searchType == 'empNo'">
		                EMP.EMP_NO = #{searchValue}
		            </when>
		            <when test="searchType eq 'empName'">
		            <!-- <bind name="vvv" value="'%' + searchValue + '%'"/> -->
		                EMP.EMP_NAME like '%${searchValue}%'
		            </when>
		            <when test="searchType eq 'jobName'">
		                JOB.JOB_NAME = #{searchValue}
		            </when>
		            <when test="searchType eq 'deptName'">
		                DEPT.DEPT_NAME like '%${searchValue}%'
		            </when>
		            <otherwise>
		                EMP.EMP_NO = 'XXX' 
		                AND EMP.EMP_NAME = 'XXX'
		            </otherwise>
		       	 </choose>
	</select>
	
	
	
	<select id="getTotalResignList" resultType="resignDto">


SELECT E.EMP_NO AS RE_NO,
        E.EMP_NAME AS RE_NAME,
        E.DEPT_NAME AS RE_DEPT,
        E.JOB_NAME AS RE_RANK,
        E.EMP_ADD AS RE_ADDRESS,
        E.EMP_ENROLLDATE AS RE_HIRE_DATE,
        E.EMP_RESIGNDATE AS RE_RESIGN_DATE,
        TRUNC(TRUNC(SYSDATE+1)-TO_DATE(E.EMP_ENROLLDATE,'YYMMDD')) AS RE_TOTAL_WORK,
        TRUNC(MONTHS_BETWEEN(TRUNC(SYSDATE+1),TO_DATE(E.EMP_ENROLLDATE,'YYMMDD'))) AS RE_TOTAL_MONTHS,
        TRUNC((MONTHS_BETWEEN(TRUNC(SYSDATE+1)  ,TO_DATE(E.EMP_ENROLLDATE,'YYMMDD')))/12) AS RE_TOTAL_YEARS,
        
        --일평균
            TRUNC((((P.BASIC_SALARY +
            P.OVERTIME_ALLOWANCE +
            P.HOLIDAY_ALLOWANCE +
            P.ANNUAL_LEAVE_ALLOWANCE +
            P.MEAL_EXPENSES +
            P.TRANSPORTATION_EXPENSES +
            P.BONUS +
            P.SPECIAL_ALLOWANCE)
            -
            (P.EMPLOYMENT_INSURANCE +
            P.HEALTH_INSURANCE +
            P.NATIONAL_PENSION +
            P.TAX +
            P.LOCAL_INCOME_TAX)
            )*3)/90)AS RE_ONE_AVR_PAY,
            
             --기본급여
            TRUNC((P.BASIC_SALARY +
            P.OVERTIME_ALLOWANCE +
            P.HOLIDAY_ALLOWANCE +
            P.ANNUAL_LEAVE_ALLOWANCE +
            P.MEAL_EXPENSES +
            P.TRANSPORTATION_EXPENSES +
            P.BONUS +
            P.SPECIAL_ALLOWANCE
            )-(
            P.EMPLOYMENT_INSURANCE +
            P.HEALTH_INSURANCE +
            P.NATIONAL_PENSION +
            P.TAX +
            P.LOCAL_INCOME_TAX
            )) AS RE_BASIC_PAY,
            
              --3개월 임금
            TRUNC((
            (P.BASIC_SALARY +
            P.OVERTIME_ALLOWANCE +
            P.HOLIDAY_ALLOWANCE +
            P.ANNUAL_LEAVE_ALLOWANCE +
            P.MEAL_EXPENSES +
            P.TRANSPORTATION_EXPENSES +
            P.BONUS +
            P.SPECIAL_ALLOWANCE) -
            (P.EMPLOYMENT_INSURANCE +
            P.HEALTH_INSURANCE +
            P.NATIONAL_PENSION +
            P.TAX +
            P.LOCAL_INCOME_TAX)
            )*3) AS RE_MONTHS_PAYS,
                
                --연간상여금
            P.BONUS*12 AS RE_YEAR_BONUS,
            
          --퇴직금  
            TRUNC((((
            (P.BASIC_SALARY +
            P.OVERTIME_ALLOWANCE +
            P.HOLIDAY_ALLOWANCE +
            P.ANNUAL_LEAVE_ALLOWANCE +
            P.MEAL_EXPENSES +
            P.TRANSPORTATION_EXPENSES +
            P.BONUS +
            P.SPECIAL_ALLOWANCE)
            -
            (P.EMPLOYMENT_INSURANCE +
            P.HEALTH_INSURANCE +
            P.NATIONAL_PENSION +
            P.TAX +
            P.LOCAL_INCOME_TAX))*3)/90)*TRUNC(TRUNC(SYSDATE+1)-TO_DATE(E.EMP_ENROLLDATE,'YYMMDD'))) AS RE_RESIGN_PAY                      
FROM EMP E ,PAYROLL P,SALARY S
WHERE E.EMP_RESIGNYN='N' AND E.EMP_NO= S.EMP_NO AND E.EMP_NO=P.EMP_NO

	</select>


</mapper>