<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="salary">

		<insert id="input" parameterType="payrollDto">
			INSERT INTO PAYROLL
			(
				  EMP_NO
				, BASIC_SALARY
				, OVERTIME_ALLOWANCE
				, HOLIDAY_ALLOWANCE
				, LONG_SERVICE_ALLOWANCE
				<!-- , POSITION_ALLOWANCE -->
				, ANNUAL_LEAVE_ALLOWANCE
				, MEAL_EXPENSES
				, TRANSPORTATION_EXPENSES
				, BONUS
				, SPECIAL_ALLOWANCE
				, TOTAL_SALARY
				, FOUR_MAJOR_INSURANCES
				, TAX
				, NET_SALARY
				, PAYROLL_BANK
				, PAYROLL_ACCOUNT
				, PAYROLL_DATE
			)
			VALUES
			(
				  #{empNo}
				, #{basicSalary} * 20
				, #{overtimeAllowance}
				, #{holidayAllowance}
				, #{longServiceAllowance}
				<!-- , #{positionAllowance} -->
				, #{annualLeaveAllowance}
				, #{mealExpenses}
				, #{transportationExpenses}
				, #{bonus}
				, #{specialAllowance}
				, #{totalSalary}
				, #{fourMajorInsurances}
				, #{tax}
				, #{netSalary}
				, #{payrollBank}
				, #{payrollAccount}
				, #{payrollDate}
			)
		</insert>
		
		<select id="selectAllPayroll" parameterType="int" resultType="payrollDto">
			SELECT *
            FROM PAYROLL, EMP
            WHERE PAYROLL.EMP_NO = EMP.EMP_NO
		</select>
		
		<select id="selectAllPayrollByEmpNo" parameterType="long" resultType="payrollDto">
			SELECT *
            FROM PAYROLL, EMP
            WHERE PAYROLL.EMP_NO = EMP.EMP_NO
            AND PAYROLL.EMP_NO = #{empNo}
		</select>
		
		<select id="selectOneByPayroll" parameterType="string" resultType="payrollDto">
			SELECT *
			FROM PAYROLL, EMP
			WHERE PAYROLL.EMP_NO = EMP.EMP_NO
			AND PAYROLL.PAYROLL_DATE = #{payrollDate}
		</select>
		
		
		
		
		
		<select id="selectOneBySalary" resultType="salaryDto">
			SELECT *
			FROM SALARY
            WHERE EMP_NO = 1
		</select>
		

		
<!-- 		<select id="selectOneBySalarySetting" parameterType="string" resultType="payrollDto">
			SELECT *
			FROM SALARY
			WHERE EMP_NO = 101
		</select> -->
		
		<update id="setting" parameterType="salaryDto">
			UPDATE SALARY
			SET 
			  REGULAR_HOURLY_WAGE = TO_CHAR(#{regularHourlyWage}, '999,999,999')
			, LONG_SERVICE_DAY = TO_CHAR(#{longServiceDay}, '999,999,999')
			, LONG_SERVICE_ALLOWANCE = TO_CHAR(#{longServiceAllowance}, '999,999,999')
			<!-- , POSITION_ALLOWANCE = #{positionAllowance} -->
			, MEAL_EXPENSES = TO_CHAR(#{mealExpenses}, '999,999,999')
			, TRANSPORTATION_EXPENSES = TO_CHAR(#{transportationExpenses}, '999,999,999')
<!-- 			, PAYROLL_BANK = #{payrollBank}
			, PAYROLL_ACCOUNT = #{payrollAccount} -->
		</update>

		<!-- <delete id="delete" parameterType="payrollDto">
			DELETE FROM PAYROLL
			WHERE PAYROLL_DATE = #{payrollDate}
		</delete> -->
		
		<select id="selectAllEmp" resultType="memberDto">
			SELECT *
            FROM EMP
		</select>
		
		<select id="selectOneByEmp" parameterType="string" resultType="payrollDto">
		SELECT *
		FROM PAYROLL
		WHERE EMP_NO = #{empNo}
		</select>

		<select id="selectEmail" parameterType="string" resultType="emailDto">
			SELECT 
			PAYROLL.EMP_NO AS PEN,
			PAYROLL.BASIC_SALARY AS PBS,
			PAYROLL.TOTAL_SALARY AS PTS,
			PAYROLL.NET_SALARY AS PNS,
			PAYROLL.PAYROLL_BANK AS PPB,
			PAYROLL.PAYROLL_ACCOUNT AS PPA,
			PAYROLL.PAYROLL_DATE AS PPD,
			EMP.EMP_NO AS EEN,
			EMP.EMP_NAME AS EENAME,
			EMP.EMP_EMAIL AS EEE,
			EMP.EMP_JOBCODE AS EEJ,
			EMP.MANAGER_DEPT AS EMD
			FROM PAYROLL, EMP
			WHERE PAYROLL.EMP_NO = EMP.EMP_NO
		</select>
	
		
		

</mapper>