<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="salary">
	
	<select id="salary" resultType="salaryDto">
		SELECT EMP_NO,BASIC_SALARY,REGULAR_HOURLY_WAGE,OVERTIME_ALLOWANCE,HOLIDAY_ALLOWANCE,LONG_SERVICE_ALLOWANCE,POSITION_ALLOWANCE,
ANNUAL_LEAVE_ALLOWANCE,QUALIFICATION_ALLOWANCE,MEAL_EXPENSES,TRANSPORTATION_EXPENSES,BONUS,SPECIAL_ALLOWANCE,TOTAL_SALARY,FOUR_MAJOR_INSURANCES,
TAX,NET_SALARY FROM SALARY
	</select>
	
	<select id="payroll" resultType="payrollDto">
		SELECT EMP_NO,BASIC_SALARY,REGULAR_HOURLY_WAGE,OVERTIME_ALLOWANCE,HOLIDAY_ALLOWANCE,LONG_SERVICE_ALLOWANCE,POSITION_ALLOWANCE,
ANNUAL_LEAVE_ALLOWANCE,QUALIFICATION_ALLOWANCE,MEAL_EXPENSES,TRANSPORTATION_EXPENSES,BONUS,SPECIAL_ALLOWANCE,TOTAL_SALARY,FOUR_MAJOR_INSURANCES,
TAX,NET_SALARY,PAYROLL_ACCOUNT,PAYROLL_DATE FROM PAYROLL
	</select>
	
</mapper>